.okay{
    padding-left: 8em;
    padding-right: 4em;
    padding-top: 5em;
}

.okay2{
    padding-left: 4em;
    padding-right: 8em;
    padding-top: 5em;
}

.nav{
    width: 100%; 
    text-align: center;
}
nav{
    margin: 0 auto; 
    display: inline-block;
}

.contact-heading{
    max-width: 100%;
}

.contact-heading p:nth-child(1){ 
    float:left;
    font-size:110%;

}

.contact-heading p:nth-child(2){ 
    float:right;
    font-size: 85%
}

a {
    text-decoration: none;
    color:black;
}

a#log-in-prompt:link{
    color:black;
    font-size: 95%;
}

a#log-in-prompt:visited{
    color:black;
    
}

a#log-in-prompt:hover{
    text-decoration: underline;
    
}

#shipping-heading{
    font-size: 110%;
}

.input-1{
    box-shadow: none;
    border: 1.5px solid rgb(177, 175, 175);
    border-radius: 5px;
    height: 3em;
    padding: 1em;
    font-size: 90%;
    width: 100%;
}

#save-customer-information{
    box-shadow: none;
    border: 2px solid rgb(248, 245, 245);
    border-radius: 5px;
    padding: 1em;
}

#continue-to-shipping{
    position: absolute; 
    right: 0; 
    background-color: black;
}

.checkout-footer{
    font-size:80%;
}

.item{
    position: relative; 
    max-width: 100%; 
    height:auto;
}

.item-price{
    float: right;
}

.btn.fas.fa-chevron-left{
    margin-top: 1em;
}

#discount-code{
    max-width: 100%;
}

#discount-button{
    height: 2.7em;
    background-color: gray;
}

.checkout-display-1{
    max-width: 100%;
}

.checkout-display-2{
    width: 50%; 
    float: left;
}

.checkout-display-3{
    width: 50%; 
    float: right; 
    text-align: end;
}

.checkout-display-2.one{
    color:gray;
}

.checkout-display-3.one{
    color:gray;
}


